<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".input_placeholder") %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: Settings.micropost.image_type %>
  </span>
  <%= f.submit t(".post_btn"), class: "btn btn-primary" %>
<% end %>
