<footer class="footer">
  <small>
    <%= link_to t(".content_1"), Settings.link.footer.link_to_railstutorial %>
    <%= link_to t(".link_title_michael_hartl"), Settings.link.footer.link_to_michaelhartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link_title_about_page"), about_path %></li>
      <li><%= link_to t(".link_title_contact_page"), contact_path %></li>
      <li>
        <%= link_to t(".link_title_rails_page"), Settings.link.footer.link_to_railstutorial %>
      </li>
    </ul>
  </nav>
</footer>
